<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-3">

            <h1 style="display: inline-block;">Empleados</h1>
        </div>

        <div class="col-lg-7">

            <input type="text" id="seach"  class="form-control mt-2" placeholder="Buscar por nombre, cargo o fecha de contratación" >
        </div>

    </div>

    <div class="mt-4">

        <table class="table">
            <thead class="bg-acent" >
              <tr class="text-center">
                <th scope="col">Nombre (cargo)</th>
                <th scope="col">Edad</th>
                <th scope="col">Fecha de contratación</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of empleados; let i = index" 
              class="text-center">
                <td>
                  {{emp.nombre}}
                  <p>
                    <b>({{emp.cargo.cargo}})</b>
                  </p>
                  
                </td>
                <td>{{edades[i]}}</td>
                <td>{{emp.fechaCont | date}}</td>
                <td style="font-size: 20px;">
                    <i style="cursor: pointer;" class="text-success mx-2 fas fa-pencil-alt"></i>
                    <i [routerLink]="['/view', emp._id]" style="cursor: pointer;" class="text-primary mx-2 fas fa-eye"></i>
                    <i (click)="deleteEmpleado(emp._id)" style="cursor: pointer;" class="text-danger mx-2 fas fa-trash-alt"></i>
                </td>
              </tr>              
              
            </tbody>
          </table>

    </div>

    <div class="row mt-5">
        <div class="col-lg-4">
          <button routerLink="/new" class="btn btn-acent">
            Agregar empelado
              <i class="mx-1 fas fa-plus"></i>
            </button>
        </div>
    </div>

</div>