<div class="animated fadeIn">
    <div class="row">

        <div class="col-lg-3">

            <h1 style="display: inline-block;">Empleados</h1>
        </div>

        <div class="col-lg-4">

            <input type="text" class="form-control" >
        </div>

    </div>

    <div class="mt-3">

        <table class="table">
            <thead class="bg-acent">
              <tr class="text-center">
                <th scope="col">Nombre (cargo)</th>
                <th scope="col">Edad</th>
                <th scope="col">Fecha de contratación</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of empleados" 
              class="text-center">
                <td>
                  <p>{{emp.nombre}}</p>
                  <b>({{emp.cargo.cargo}})</b>
                </td>
                <td>25</td>
                <td>{{emp.fechaCont | date}}</td>
                <td>
                    <i style="cursor: pointer;" class="text-success mx-2 fas fa-pencil-alt"></i>
                    <i style="cursor: pointer;" class="text-primary mx-2 fas fa-eye"></i>
                    <i (click)="deleteEmpleado(emp._id)" style="cursor: pointer;" class="text-danger mx-2 fas fa-trash-alt"></i>
                </td>
              </tr>              
              
            </tbody>
          </table>

    </div>

    <div class="row mt-5">
        <div class="col-lg-4">
            <button routerLink="/new" class="btn btn-acent">Agregar empelado
                <i class="mx-1 fas fa-plus"></i>
            </button>
        </div>
    </div>

</div>