<div class="animated fadeIn">

    <h1>Crear empleado</h1>

    <form [formGroup]="formulario" (ngSubmit)="createEmpleado(formulario.value)">

            <div class="row mt-4">

            <div class="col-lg-6">
       
                <label for="nombre">NOMBRE COMPLETO</label>
                <input formControlName="nombre" type="text" id="nombre" class="form-control mb-3" placeholder="Nombre y apellido">
                
                <label for="fechaNac">FECHA DE NACIMIENTO</label>
                <input formControlName="fechaNac" type="date" id="fechaNac" class="form-control mb-3">
                
                <label for="pais">PAIS</label>
                <select formControlName="pais" class="form-select mb-3" id="pais" aria-label="Default select example">
                    <option *ngFor="let pais of paises" >{{pais.name}}</option>                    
                </select>

                
                <label for="usuario">NOMBRE DE USUARIO</label>
                <input formControlName="usuario" type="text" id="usuario" class="form-control mb-3" placeholder="Usuario">                
                
                <label for="fechaCont">FECHA DE CONTRATACION</label>
                <input formControlName="fechaCont" type="date" id="fechaCont" class="form-control mb-3">
                
                <label for="flexSwitchCheckChecked">ESTADO</label>
                <div  class="form-check form-switch mb-3">
                    <input style="width: 50px; height: 25px;" formControlName="estado" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                </div>
                
            </div>
    
            <div class="col-lg-6">
                <label for="area">AREA</label>
                <div id="area" class="mb-3">

                    <button (click)="area()" style="border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important;"
                    [ngClass]="{'btn-acent': areaBool, 'btn-acent-secondary': !areaBool }"
                    type="button" class="w-50 btn btn-acent">
                        Administrativa
                        <i *ngIf="areaBool" class="fa fa-check"></i>
                    </button>
                    <button (click)="area()" style="border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important;"
                    [ngClass]="{'btn-acent': !areaBool, 'btn-acent-secondary': areaBool }"
                    type="button" class="w-50 btn btn-acent-secondary">
                        Tecnologia
                        <i *ngIf="!areaBool" class="fa fa-check"></i>
                    </button>
                    
                </div>  

                    
                    <label for="cargo">CARGO</label>
                    <select formControlName="cargo" class="form-select mb-3" id="cargo">
                        <option value="{{cargo._id}}" *ngFor="let cargo of cargoArea">{{cargo.cargo}}</option>
                    </select>
    
                    <div *ngIf="formulario.value.cargo == '609b942ada58e12078b7a52f' && com === true">
    
                        <label for="comision">COMISION (%)</label>
                        <input min="0" max="100" formControlName="comision" class="form-control" type="number">
                    </div>
                    
            </div>
        </div>
    

        
    <div class="row mt-4">
        <div class="col-lg-6">

            <b>
                <a routerLink="/home" style="text-decoration: none;" class="text-acent mt-2 mx-2">
                    <i class="fa fa-chevron-left mx-1"></i>    
                    Volver
                </a>
            </b>

            <button 
            [disabled]="formulario.invalid || charging == true"
             type="submit" style="float: right;" class="btn btn-acent w-75">
             {{!charging? 'Guardar': 'Guardando...'}}
             <i *ngIf="!charging" class="mx-2 fas fa-save"></i>
             <i *ngIf="charging" class="mx-2 fas fa-sync fa-spin"></i>
            </button>
        
        </div>
    </div>

    </form>

</div>